<a href="https://colab.research.google.com/github/Shinji-Hamada/python-basic-kadai/blob/main/kadai_017.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
class Human:
  def __init__(self):
    self.name=""
    self.age=""
  def set_name(self, name, age):
    self.name=name
    self.age=age
  def show_name(self):
    print(self.name)
    print(self.age)

Toroku=Human()
names_list = ["一郎","二郎", "三郎", "四郎", "五郎"]
ages_list = [30, 25, 23, 19, 17]

for i in range(0,5):
  Toroku.set_name(names_list[i], ages_list[i])
  if ages_list[i]>=20:
    print(names_list[i])
    print(ages_list[i])

一郎
30
二郎
25
三郎
23